/*Initial Setup - setting up our font mostly*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*mostly specifying how much space our explanation will take up */
p {
    height: 100 vh;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

/* specifying how much space the h1 header will take up */
h1 {
    height: 100 vh;
    display: flex;
    justify-content: space-around;
}

/* Centering the Input */
.input-here{
  text-align:center;
  }
  

/* THE ISSUE ZONE */

.results div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

li {
  height:0;
  margin:0;
  padding:0;
  display:inline-block;
  line-height: 40px;
}

ol{
  display: inline-flex;
  flex-direction: column-reverse;
  font-size:25px;
}

.totals{
  padding-left: 100px;
  font-weight:bolder;
}

section {
 text-align: center;
}

/* all of this cool stuff was from https://cssanimation.rocks/list-items/ */

li.show {
  height: 2em;
  margin: 2px 0;
  padding: 5px;
}

.fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.fade li.show {
  opacity: 1;
}

.swing {
  perspective: 100px;
}

.swing li {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}

.swing li.show {
  opacity: 1;
  transform: none;
  transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}

/*color tags*/
.red {
  color:red;
}

.green {
  color:green;
}